
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v48-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/roboto-v48-latin-700.woff2') format('woff2');
}

body {
	margin: 40px auto;
	max-width: 800px;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	color: #222;
	padding: 0 10px;
}

.pride-flag {
	display: inline-block;
	margin-left: 0.25em;
	height: 0.7em;
	width: 1.2em;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("/assets/flag-progress-pride.png");
}

h1, h2, h3 {
	margin: 25px 0 -5px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #22272e;
		color: #d9e8f7;
	}
	a {
		color: #539bf5;
	}
}

.logothing {
	font-family: monospace, monospace;
	font-weight: normal;
	background-color: #1f1f1f;
	color: #40ea2e;
	line-height: 1;
	padding: 3px 2px 10px;
	display: inline-block;
	border-radius: 5px;
	margin-right: 0.05em;
}

blockquote {
	font-size: 1.1rem;
	border-left: 4px solid #4f46e5;
	padding: 0.5rem 1.5rem;
	margin-left: 2rem;
	margin-right: 0;

	position: relative;
}

footer {
	margin-top: 6rem;
	padding-top: 1rem;
	border-top: 1px solid grey;
	text-align: center;
	font-size: 0.9rem;
}
